<template>
    <div class="ardr-lol-champs-card">
        <div class="photo"><img :src="champsPhoto" :alt="champsName"></div>
        <div class="subTitle">{{ champsSubTitle }}</div>
        <div class="name">{{ champsName }}</div>
        <div class="story">{{ champsStory }}
        </div>
        <h3>Skill</h3>
        <div class="skills">
            <div v-for="(item,index) in champsSkill"
            v-bind:key="index">
                <div>
                    <img :src="item.skillPhoto" :alt="item.skillName" :title="item.skillContents">
                </div>
                <div class="skillTitle" :title="item.skillContents">{{ item.skillName }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:
        {
            champsPhoto: {
                type: String,
                required: true
            },
            champsSubTitle: {
                type: String,
                required: true
            },
            champsName: {
                type: String,
                required: true
            },
            champsStory: {
                type: String,
                required: true
            },
            champsSkill: {
                type: Object,
                required: true
            }

        }

}
</script>
