div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}
.contents-body{
    margin: 0!important;
    padding: 0!important;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.ardr-section{
    font-family: 'Pretendard-Regular'!important;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.lol_Logo {
    width: 500px;
    margin: 30px auto;
    border-bottom: 2px solid #333333;
    box-shadow: #333333;
}
.lol_Logo{
    margin: 30px auto;
    padding: 0;
}
.lol_Logo > img {
    width: 500px;
}
.ardr-background{
    position: fixed;
    background-size:  contain;
    z-index: -9999;
}
.photo>img{
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.ardr-lol-champs-card{
    width: 470px;
    margin: 10px;
    border: 5px solid #000;
    padding: 5px 0 0 5px;
    box-sizing: border-box;
    box-shadow: 8px 10px 20px #013039;
    background: #000000bf;

}
.ardr-lol-champs-card > div{
    width:450px;
    color:#fff;
    line-height: 1.5;
    text-align: justify;
    }
div.story{
    padding: 30px 0 30px 0;
    height: 120px;
}

div.subTitle,div.name{
    text-align: center;

}
.subTitle{
    font-size: 15px;
    font-weight:400 ;
}
.ardr-lol-champs-card>.name {
    font-size: 20px;
    font-weight: 900;
}
.skillStory{
    font-size: 13px;
    color:#eee;
}
.skills{
    display: flex;
    justify-content: flex-start;
}

.ardr-lol-champs-card>h3{
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #000000b3;
    padding:5px;
    margin:auto;
    text-align: center;
    margin-bottom: 10px;
    }
.skills>div {
    display: flex;
    flex-direction: column;
    font-size:10px;
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 85px;
}

