<template>
    <div>
        <div class="ardr-background"><img src="/images/lol_images/background_default.jpg" alt=""></div>
        <h1 class="lol_Logo"><img src="/images/lol_images/lol_Logo.png" alt="리그오브레전드 로고이미지"></h1>

        <section class="ardr-section">
            <lol-champs
                v-for="(item,index) in champs"
                v-bind:key="index"
                v-bind:champs-skill="item.champsSkill"
                v-bind:champs-story="item.champsStory"
                v-bind:champs-name="item.champsName"
                v-bind:champs-sub-title="item.champsSubTitle"
                v-bind:champs-photo="item.champsPhoto"/>
        </section>
    </div>
</template>
<script>
export default {
    data() {
        return {
            champs: [
                /*챔프카드 1개 비에고*/
                {
                    champsPhoto: '/images/lol_images/viego_0.jpg',
                    champsSubTitle: '몰락한 왕',
                    champsName: '비에고',
                    champsStory: '비에고는 오래전 잊힌 왕국의 지배자였다. 천년도 전에, ' +
                        '그는 아내 이졸데를 죽음에서 되찾고자 시도한 끝에 현재 대몰락으로 불리는 마법 재해를 일으켰다' +
                        '그 안에서 죽음을 맞은 비에고는 강력한 망령이 되었으나, 죽은 지 수백 년은 지난 왕비를 향한 집착에 여전히 고통받았다.' +
                        '이제 비에고는 몰락한 왕으로 군림하여 죽음의 해로윙을 지배한다. ' +
                        '이졸데를 치유할 가망이 있는 것이라면 무엇이든 찾아 룬테라를 뒤지며 잔혹한 심장의 상처에서 끝없이 쏟아지는 검은 안개로 그 앞길을 가로막는 이를 남김없이 처단한다',
                    champsSkill: [
                        {
                            skillPhoto: '/images/lol_images/viego_passive.png',
                            skillName: '군주의 지배',
                            skillContents: '망령을 공격하면 비에고가 일시적으로 죽은 적의 몸을 지배하며 대상 최대 체력의 일부만큼 체력을 회복하고 대상의 기본 스킬과 아이템을 사용할 수 있습니다.\n' +
                                '적의 궁극기는 제외되는 대신 자신의 궁극기를 비용 소모 없이 한 번 사용할 수 있습니다.',
                        }, {
                            skillPhoto: '/images/lol_images/viego_q.png',
                            skillName: '몰락한 왕의 검',
                            skillContents: '비에고의 유령 칼날이 적중 시 현재 체력에 비례한 추가 피해를 입히고 최근 비에고의 스킬에 적중당한 적들을 두 번 공격하여 체력을 훔칩니다.\n' +
                                '비에고는 이 스킬을 사용해 양손검을 찔러 전방의 적을 꿰뚫을 수 있습니다.',
                        }, {
                            skillPhoto: '/images/lol_images/viego_w.png',
                            skillName: '망령의나락',
                            skillContents: '비에고가 충전한 다음 전방으로 돌진하여 응축된 검은 안개 구체를 발사하고 처음으로 적중한 적을 기절시킵니다.',
                        }, {
                            skillPhoto: '/images/lol_images/viego_e.png',
                            skillName: '안개의 길',
                            skillContents: '비에고가 명령을 내려 검은 안개가 지형을 맴돕니다.비에고가 망령이 되어 안개 속에 숨고 위장 효과, 이동 속도, 공격 속도를 얻습니다.',
                        }, {
                            skillPhoto: '/images/lol_images/viego_r.png',
                            skillName: '심장 파괴자',
                            skillContents: '비에고가 근처로 순간이동하여 적 챔피언에게 다다르면 심장을 공격하고 파괴적인 충격파를 일으켜 대상 주변의 적을 밀어냅니다.'

                        }
                    ]
                },
                /*챔프카드 1개 그웬*/
                {
                    champsPhoto: '/images/lol_images/gwen_0.jpg',
                    champsSubTitle: '신성한 재봉사',
                    champsName: '그웬',
                    champsStory: '마법의 힘으로 살아나 인간이 된 인형 그웬은 한때 자신을 만들었던 도구를 휘두른다. ' +
                        '발걸음을 내디딜 때마다 자신을 만든 창조자의 사랑을 느끼며 모든 것을 감사히 여긴다. ' +
                        '그웬이 부리는 신성한 안개는 그웬의 가위와 바늘, 실에 축복을 내린 고대의 보호 마법이다. ' +
                        '모든 게 새로운 것으로 가득하지만, 그웬은 망가진 세상에서 살아남은 선한 이들을 위해 기꺼이 싸우러 나선다.',
                    champsSkill: [
                        {
                            skillPhoto: '/images/lol_images/gwen_passive.png',
                            skillName: '가위 난도질',
                            skillContents: '그웬의 기본 공격이 대상의 체력에 비례해 추가 마법 피해를 입힙니다.' +
                                ' 챔피언을 상대로 기본 공격 시 해당 피해의 일부만큼 체력을 회복합니다.',
                        }, {
                            skillPhoto: '/images/lol_images/gwen_q.png',
                            skillName: '싹둑싹둑!',
                            skillContents: '그웬이 최대 6회까지 가위질하여 원뿔 범위에 마법 피해를 입힙니다.' +
                                '중앙에 있는 유닛에게는 고정 피해를 입히고 적중할 때마다 기본 지속 효과를 적용합니다.',
                        }, {
                            skillPhoto: '/images/lol_images/gwen_w.png',
                            skillName: '신성한 안개',
                            skillContents: '그웬이 안개를 소환하여 안개 밖에 있는 적으로부터 자신을 보호합니다.' +
                                ' 안개에 들어오는 적만이 그웬을 대상으로 지정할 수 있습니다.',
                        }, {
                            skillPhoto: '/images/lol_images/gwen_e.png',
                            skillName: '돌격가위',
                            skillContents: '짧은 거리를 돌진한 후 몇 초 동안 그웬의 공격 속도, 공격 사거리, 적중 시 마법 피해가 증가합니다. ' +
                                '이때 적에게 공격을 적중시키면 이 스킬의 재사용 대기시간을 일부 돌려받습니다.',
                        }, {
                            skillPhoto: '/images/lol_images/gwen_r.png',
                            skillName: '바느질',
                            skillContents: '그웬이 바늘을 던져 적중한 적에게 마법 피해를 입히고 둔화시킵니다.' +
                                ' 챔피언에게 적중 시 가위 난도질을 적용합니다. 이 스킬은 최대 2회 더 사용할 수 있으며,' +
                                ' 재사용할 때마다 추가 바늘을 던져 더 많은 피해를 입힙니다. ' +
                                '스킬 사용 후 그웬이 적에게 공격이나 스킬을 적중시켜야 이 스킬을 재사용할 수 있습니다.'
                        }
                    ]
                },
                /*챔프카드 1개 벡스*/
                {
                    champsPhoto: '/images/lol_images/vex_0.jpg',
                    champsSubTitle: '우울주의자',
                    champsName: '벡스',
                    champsStory: '그림자 군도의 검은 심장에서 고독한 요들 하나가 망령의 안개 속을 터덜터덜 걸으며 그 어두운 불행을 즐긴다.' +
                        ' 청소년 특유의 끝없는 고뇌와 강력한 그림자를 달고 다니는 벡스는 혐오스러운 활기로 가득한 일반 세계와 거리를 두고 ' +
                        '자신이 만들어 낸 우울함 속에서 살아간다.야심은 부족하지만 침울한 분위기로 사전에 모든 침입자를 막으며 순식간에 색깔과 행복을 없앤다.',
                    champsSkill: [
                        {
                            skillPhoto: '/images/lol_images/vex_passive.png',
                            skillName: '파멸과 우울',
                            skillContents: '벡스가 주기적으로 강화 상태가 되어 다음 기본 스킬로 적 챔피언을 공포에 빠뜨리고 돌진을 방해합니다.' +
                                ' 주변 적이 돌진할 때마다 벡스가 적에게 표식을 남깁니다. ' +
                                '표식을 소모해 추가 피해를 입힐 수 있으며 강화 상태의 재사용 대기시간이 감소합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/vex_q.png',
                            skillName: '안개 화살',
                            skillContents: '피해를 입히는 화살을 발사합니다. 화살은 날아가는 동안 속도가 빨라집니다.',
                        }, {
                            skillPhoto: '/images/lol_images/vex_w.png',
                            skillName: '거리 두기',
                            skillContents: '보호막을 얻고 주변 적에게 피해를 입힙니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/vex_e.png',
                            skillName: '커지는 어둠',
                            skillContents: '피해를 입히고 둔화시키는 영역을 소환하며 적에게 우울을 적용합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/vex_r.png',
                            skillName: '그림자 파동',
                            skillContents: '적 챔피언에게 표식을 남기는 발사체를 날립니다. 재사용하면 벡스가 대상에게 돌진하여 피해를 입힙니다.'

                        }
                    ]
                },
                /*챔프카드 1개 쓰레쉬*/
                {
                    champsPhoto: '/images/lol_images/thresh_0.jpg',
                    champsSubTitle: '지옥의 간수',
                    champsName: '쓰레쉬',
                    champsStory: '가학적이고 교활한 그림자 군도의 악령인 쓰레쉬는 이 세계에 고통을 전파하겠다는 야심을 품고 잠시도 쉬지 않는다. ' +
                        '원래는 신비로운 비밀이 가득한 지하 창고의 관리인이었으나, ' +
                        '삶이나 죽음보다 더 거대한 힘에 의해 타락했고 이제는 기발한 고문 방법을 생각해 내어 사람들을 괴롭히며,' +
                        ' 오랫동안 견디기 힘든 고통을 가하여 서서히 망가뜨리는 일에 심취하고 있다. ' +
                        '쓰레쉬의 마수에 붙잡힌 자는 죽음으로도 그 손아귀를 벗어날 수 없다.' +
                        ' 쓰레쉬가 랜턴에 영혼을 가두고는 영원히 끝나지 않는 고통을 가하기 때문이다.',
                    champsSkill: [
                        {
                            skillPhoto: '/images/lol_images/thresh_passive.png',
                            skillName: '지옥살이',
                            skillContents: '쓰레쉬는 근처에서 처치된 적의 영혼을 포획해 방어력과 주문력을 영구적으로 올릴 수 있습니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/thresh_q.png',
                            skillName: '사형 선고',
                            skillContents: '쓰레쉬가 쇠사슬로 적을 묶어 자신 쪽으로 당겨옵니다. 스킬을 다시 사용하면 쓰레쉬가 적 쪽으로 당겨집니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/thresh_w.png',
                            skillName: '어둠의 통로',
                            skillContents: '쓰레쉬가 랜턴을 던져 근처의 아군 챔피언들을 피해로부터 보호합니 대상 주변의 적을 밀어냅니다.' +
                                '아군이 랜턴을 클릭하면 쓰레쉬에게 질주할 수 있습니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/thresh_e.png',
                            skillName: '사슬 채찍',
                            skillContents: '쓰레쉬가 공격하기 위한 힘을 모아, 다음 공격까지 대기시간이 길수록 더 큰 피해를 가합니다.' +
                                ' 활성화하면 쇠사슬을 휘둘러 맞은 적들을 휘두른 방향으로 밀어냅니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/thresh_r.png',
                            skillName: '영혼 감옥',
                            skillContents: '벽으로 된 감옥이 부서지면 둔화를 일으키며 피해를 입힙니다.'

                        }
                    ]
                },

                /*챔프카드 1개 세나*/
                {
                    champsPhoto: '/images/lol_images/senna_0.jpg',
                    champsSubTitle: '구원자',
                    champsName: '세나',
                    champsStory: '어린 시절부터 초자연적인 검은 안개에 쫓기는 저주를 받은 세나는 빛의 감시자들이라는 ' +
                        '신성한 조직에 합류하여 검은 안개에 맹렬히 저항하지만, ' +
                        '잔혹한 악령 쓰레쉬의 손에 쓰러지고 랜턴에 영혼을 사로잡히게 된다. ' +
                        '그러나 희망을 잃지 않은 그녀는 랜턴 안에서 안개의 힘을 활용하는 법을 배워 완전히 새로운 모습으로 다시 태어난다.' +
                        ' 이제 빛과 어둠을 모두 다스릴 수 있게 된 세나는 자신의 유물포로 검은 안개에 갇힌 영혼들을 구하고 ' +
                        '검은 안개를 자멸케 하고자 한다.',
                    champsSkill: [

                        {
                            skillPhoto: '/images/lol_images/senna_passive.png',
                            skillName: '면죄',
                            skillContents: '세나 근처에서 유닛이 쓰러지면 그 영혼이 주기적으로 검은 안개에 갇히게 됩니다.' +
                                ' 세나는 해당 영혼을 공격하여 영혼을 죽음 속에 가둔 안개를 흡수하고 영혼을 해방시킬 수 있습니다. ' +
                                '안개는 세나의 유물포를 강화시켜 추가 공격력, 공격 사거리, 치명타 확률을 부여합니다.' +
                                ' 세나의 유물포 공격 속도가 느려지고 추가 피해를 입히며 잠시 공격 대상의 이동 속도를 일부 흡수합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/senna_q.png',
                            skillName: '꿰뚫는 어둠',
                            skillContents: '세나가 유물포의 두 총열에서 대상을 관통하는 빛과 그림자를 발사하여 아군의 체력을 회복시키고 적에게는 피해를 줍니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/senna_w.png',
                            skillName: '마지막 포옹',
                            skillContents: '세나가 검은 안개의 파동을 방출합니다.' +
                                ' 검은 안개가 적에게 적중하면 맹렬히 달라붙어 잠시 후 해당 적과 주변의 모든 적을 속박합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/senna_e.png',
                            skillName: '검은 안개의 저주',
                            skillContents: '세나가 어둠을 받아들이고 망령이 되어 무기에 흡수된 검은 안개를 폭풍으로 만듭니다. ' +
                                '폭풍 속에 들어간 아군은 위장 상태가 되며 세나처럼 망령이 됩니다.' +
                                ' 망령이 되면 추가 이동 속도를 얻고 대상으로 지정할 수 없는 상태가 되며 정체를 숨길 수 있습니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/senna_r.png',
                            skillName: '여명의 그림자',
                            skillContents: '세나가 쓰러진 감시자들의 유물석으로부터 힘을 빌려 유물포를 해체한 후 ' +
                                '신성한 빛과 그림자로 변형시킵니다.' +
                                ' 그리고 전장을 가득 채우는 광선을 쏘아 아군에게 보호막을 부여하고 적에게는 피해를 줍니다.'

                        }
                    ]
                },/*챔프카드 1개 루시안*/
                {
                    champsPhoto: '/images/lol_images/lucian_0.jpg',
                    champsSubTitle: '빛의 사수',
                    champsName: '루시안',
                    champsStory: '빛의 감시자 루시안은 고대의 마력이 깃든 한 쌍의 총으로 무장하고 언데드를 추격해 몰살하는 죽음의 사냥꾼이다. ' +
                        '악령 쓰레쉬가 그의 아내를 살해한 후 루시안은 복수의 여정을 떠났지만 그녀가 살아 돌아왔음에도 그의 분노는 사그라지지 않았다. ' +
                        '오직 한 가지 목표만을 쫓는 무자비한 루시안은 검은 안개의 고대 망령들로부터 산 자들을 지키기 위해서라면 어떤 일도 서슴지 않을 것이다.',
                    champsSkill: [

                        {
                            skillPhoto: '/images/lol_images/lucian_passive.png',
                            skillName: '빛의 사수',
                            skillContents: '루시안이 스킬을 사용할 때마다 다음 공격이 2연속으로 발사됩니다. ' +
                                '아군이 루시안에게 회복 또는 보호막 효과를 부여하거나, ' +
                                '근처 적 챔피언이 이동 불가 상태가 되면 루시안의 다음 기본 공격 2회가 추가 마법 피해를 입힙니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/lucian_q.png',
                            skillName: '꿰뚫는 빛',
                            skillContents: '루시안이 대상을 관통하는 빛 줄기를 발사합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/lucian_w.png',
                            skillName: '타는 불길',
                            skillContents: '루시안이 별 모양으로 폭발하여 적에게 표식을 남기는 미사일을 발사합니다.' +
                                ' 미사일에 맞은 적은 잠시 위치가 드러나며 표식이 남아 있는 적을 공격하면 루시안의 이동 속도가 상승합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/lucian_e.png',
                            skillName: '끈질긴 추격',
                            skillContents: '루시안이 짧은 거리를 빠르게 돌진합니다. 빛의 사수 스킬로 공격하면 끈질긴 추격의 재사용 대기시간이 감소합니다.',
                        },
                        {
                            skillPhoto: '/images/lol_images/lucian_r.png',
                            skillName: '빛의 심판',
                            skillContents: '루시안의 무기에서 총알이 난사됩니다.'

                        }
                    ]
                },
            ]
        }
    }
    }
</script>
